/*
  Player bar
*/
custom-range {
  width: 100%;
}

.range__bar {
  height: 10px;
  width: 100%;
  background-color: #bbb;
  display: flex;
  align-items: start;
  touch-action: none;
}

.range__progress {
  height: 100%;
  width: 0%;
  flex: 0 0 auto;
  background-color: rgb(81, 0, 255);
}

.range__thumb {
  height: 14px;
  width: 14px;
  flex: 0 0 auto;
  margin-left: -7px;
  margin-top: -2px;
  border-radius: 50%;
  background-color: rgb(64, 255, 0);
  transform: scale(0);
  visibility: hidden;
  z-index: 3;
}

.range__bar:hover .range__thumb {
  visibility: visible;
  transform: scale(1);
  transition: transform 0.1s;
}

.range__bar_focus .range__thumb {
  visibility: visible;
  transform: scale(1);
  transition: transform 0.1s;
}

/**
 * Video player
 */

.videoplayer {
  position: relative;
  width: 100%;
}

.videoplayer__video {
  display: block;
  background-color: black;
  width: 100%;
}

.videoplayer__controls {
  position: absolute;
  width: 100%;
  height: var(--controls-height);
  bottom: 0;
}

/**
 * Video controls
 */

.video-controls {
  display: flex;
  align-items: center;
  background-color: #1115;
  padding: 10px;
  color: white;
}

.video-controls__main-btn {
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-controls__main-btn_play {
}

.video-controls__main-btn_play .video-controls__pause {
  display: none;
}

.video-controls__main-btn_pause {
}

.video-controls__main-btn_pause .video-controls__play {
  display: none;
}

.video-controls__time {
  margin-right: 10px;
}

.video-controls__progress-container {
  position: relative;
  flex: 1;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.video-controls__progress {
  width: 100%;
  flex: 1;
  margin-right: 10px;
}
.video-controls__timestamps {
  position: relative;
  height: var(--slider-height);
  list-style-type: none;
  z-index: 2;
}

/**
 * timestamp
 */

.timestamp {
  width: var(--timestamp-size);
  height: var(--timestamp-size);
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: rgb(1, 255, 187);
  position: absolute;
  top: 5px;
  cursor: pointer;
}

.timestamp::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(-10px - var(--slider-height));
  left: 50%;
  transform: translateX(-50%);
  height: calc(10px + var(--slider-height));
  width: 1px;
  background-color: white;
  pointer-events: none;
}

.timestamp:not(.timestamp_selected):hover {
  background-color: rgb(255, 204, 0);
  transform: translateX(-50%) scale(1.5);
}

.timestamp_selected {
  position: relative;
  transition: all 0.5s;
  top: 0px;
  height: calc(var(--controls-height) / 2);
  width: calc(var(--controls-height) * 1.35 - var(--slider-height) * 1.35);
  border-radius: 0;
  background-color: #ddf;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.timestamp-editor {
  position: absolute;
  width: fit-content;
  bottom: 0;
  left: 10px;
  transform: translateY(100%);
  background-color: #ddf;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
  visibility: hidden;
}

.timestamp-editor__text {
  position: relative;
}

.btn {
  cursor: pointer;
}

.btn_transparent {
  box-sizing: border-box;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn_transparent:hover {
  box-shadow: 1px -1px 2px #bbbbee;
}

.btn_transparent:focus {
  border: none;
  outline: none;
}

.horizontal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timestamp-editor__time {
}

.timestamp-editor__close {
  display: block;
  width: fit-content;
  height: fit-content;
}

.timestamp-editor__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  padding: 0.4rem;
  display: block;
  min-width: 100px;
  height: 200px;
  margin-bottom: 10px;
  margin-right: 0;
}

.timestamp-editor__save {
  margin-right: 10px;
}

.timestamp-editor__rewind {
  float: right;
}

.timestamp-editor__delete {
  float: right;
  margin-right: 10px;
}
